<h2> Welcome! <h2>

<h4><%= @message if @message %><h4>
<br>

<h4>
<%= form_for :user do |f| %>
    <%= f.label :email, "Enter Your Email" %>
    <%= f.email_field :email , placeholder: "Email" %>
    <br>
    <%= f.label :password, "Enter Your Password" %>
    <%= f.password_field :password , placeholder: "Password" %>
    
    <%= f.submit "Submit" %>
<% end %>
<br>
<%= button_to "Log In With Google", '/auth/google_oauth2' %>
</h4>

