<!DOCTYPE html>
<html>
  <head>
    <title>Feelings</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Marcellus&family=Tenor+Sans&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
    <header> The Feelings App. </header>
    <br>
    <% if logged_in? %>

      <%=link_to "Homepage", homepage_path %> |
      <%=link_to "Edit Profile", edit_user_path(current_user) %> |
      <%=link_to "Feelings Log", user_user_feelings_path(current_user) %> |
      <%=link_to "Feelings Dictionary", feelings_path %> |
      <%=link_to "How's Everybody Doing", forecast_path %> |
      <%=link_to "Logout", logout_path, method: "delete" %> 
    <% end %>
    </div>
    <%= yield %>
    <% if !logged_in? %>
    <br>
    <div class="footer">
    <%= link_to "Sign Up Here" , signup_path %>
    </div>
    <% end %>
  </body>
</html>
